<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mwu.mapper.StuMapper">

    <resultMap id="BaseResultMap" type="com.mwu.pojo.test.Stu">
            <id property="id" column="id" />
            <result property="name" column="name" />
            <result property="age" column="age" />
    </resultMap>

    <sql id="Base_Column_List">
        id,name,age
    </sql>
</mapper>
